@using Abc.MvcWebUI.Entity
@model Abc.MvcWebUI.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş detay sayfası</h2>
            <dl class="row">

                <!-- Sipariş Durumu -->
                <dt class="col-sm-3">Order State</dt>
                <dd class="col-sm-9">
                    @if (Model.OrderState == EnumOrderState.Bekleniyor)
                    {
                        <!-- Bekleniyor durumunda kırmızı renkli etiket -->
                        <span class="badge-danger">@Model.OrderState</span>
                    }
                    else
                    {
                        <!-- Tamamlandı durumunda yeşil renkli etiket -->
                        <span class="badge-success">@Model.OrderState</span>
                    }
                </dd>

                <!-- Diğer sipariş detayları -->
                <dt class="col-sm-3">Order ID</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Order Total</dt>
                <dd class="col-sm-9">@Model.Total</dd>

                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.DateTime</dd>

                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir -@Model.Semt-@Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3">Urunler</dt>
                <dd class="col-sm-9">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Quntity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td><img src="/Theme/img/@item.Images" height="150px" width="150px" /></td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price.ToString("c")</td>
                                    <!-- Ürün detaylarını göstermek için buton -->
                                    <td><a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank">Product Details</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>
