@model Abc.MvcWebUI.Identity.ApplicationUser

@{
    ViewBag.Title = "Kullanıcı Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-5">
    <h2>Kullanıcı Detayları</h2>
    <hr />

    @if (User.Identity.IsAuthenticated)
    {
        <dl class="row">
            <dt class="col-sm-3">Kullanıcı Adı:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>

            <dt class="col-sm-3">Ad:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">Soyad:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SurName)</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
        </dl>
    }
    else
    {
        <p>Kullanıcı bilgilerini görüntülemek için giriş yapmalısınız.</p>
    }


    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })


</div>
